<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key><string>zh_CN</string>
	<key>CFBundleExecutable</key><string>TimeSink</string>
	<key>CFBundleIdentifier</key><string>com.alllllenshi.TimeSink</string>
	<key>CFBundleName</key><string>TimeSink</string>
	<key>CFBundleDisplayName</key><string>TimeSink</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleShortVersionString</key><string>0.1.0</string>
	<key>CFBundleVersion</key><string>1</string>
	<key>LSMinimumSystemVersion</key><string>14.0</string>
	<key>LSApplicationCategoryType</key><string>public.app-category.productivity</string>
	<key>NSPrincipalClass</key><string>NSApplication</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>TimeSink 需要读取 Chrome 当前标签页的网址，以便按网站分类你的时间。</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>TimeSink 读取本机日历以在时间轴上叠加日程并自动标注会议时间，数据不出本机。</string>
	<key>CFBundleURLTypes</key>
	<array><dict>
	    <key>CFBundleURLName</key><string>com.alllllenshi.TimeSink</string>
	    <key>CFBundleURLSchemes</key><array><string>timesink</string></array>
	</dict></array>
</dict>
</plist>
